# Dependencies
node_modules/
**/node_modules/

# Build outputs
dist/
**/dist/
build/
**/build/

# Python
__pycache__/
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Backups e datasets grandes
*.bak
*.h5
modelo_keras/
modelo_tfjs/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Sistema
.DS_Store
Thumbs.db

# Editor
.vscode/
.idea/

# Env
.env
.env.local
